/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif, 'Roboto Mono', monospace;
}


/*menu bar*/
nav {
	flex-direction: row;
	justify-content: center;
	border-bottom: solid;
	border-width: 2px;
	border-color: #29113A;
}


#nav-logo {
	margin-right: auto;
	height: 4rem;
	width: 3.5rem;
}


/*End of menubar*/

/*Start of header section*/
header {
	background-image: url('./../images/bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
}


h1  {
	font-size: 3.5rem;
 	margin: 2rem auto 4rem auto ;
	background-color: rgba(41, 17, 59, 0.8);
	width: 65%;
	color: #ffd745;
	border-radius: 0.5rem;
}


#intro { 
	margin: 0 auto 4rem auto ;
	background-color: rgba(41, 17, 59,0.8);
	width: 65%;
	color: #ffffff;
	font-size: 1.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
}


#lm {
	padding: 1rem;
	border-radius: 300px;
	margin-bottom: 5rem;
	font-weight: bold;
}

a#lm:hover {
	color: #ffd745;
	border-width: 3px;
	border-color: #7543B3;
}

/*End of Headers Section*/

/*Start of Jumbotron*/

#profile {
	border-bottom-right-radius: 4rem;
	border-top-left-radius: 4rem;
	border-style: outset;
	border-width: 4px;
	border-color: #29113B;
	max-height: 18rem;	
	margin: 0 auto 3rem auto;
}

hr.my-4 {
	border-color: #ffd745;
	border-width: 2px;
}

.display-4 {
	color: #29113B;
	font-family: 'Great Vibes', cursive;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 2rem;
}


/*End of Jumbotron*/


/*CSS for Project Section*/

#project-section {
	background-color: #121212;
	padding-top: 1rem;
}

#project  {
	background-color: rgba(41, 17, 59, 0.8);
	width: 65%;
	color: #ffd745;
	border-radius: 0.5rem;
	font-family: 'Great Vibes', cursive;
}


.csp {
	margin: 2rem auto;
	max-width: 20rem;
}


/*CSS for Skills Section*/

#skills {

	background-color: #e9ecef;
}

#s-title  {
 	margin: 0 auto ;
	background-color: rgba(41, 17, 59, 0.8);
	width: 65%;
	color: #ffd745;
	border-radius: 0.5rem;
	font-family: 'Great Vibes', cursive;
}


/*CSS for Section Contacts*/

#contacts {
	background-image: url('../images/bg.jpg');
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	background-size: cover;
	}


#contacts > * {
	position: relative;
	z-index: 2;

}

#contacts:after {
	content: '';
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

.form-group input:focus, #message:focus {
	background-color: rgba(194, 116, 206, 0.2)
}

#card-form {
	border-radius: 10px;
	padding-left: 1rem;
}

#calendly {
	border-radius: 10px;
}

#c-t  {
 	margin: 0 auto ;
	background-color: rgba(41, 17, 59, 0.8);
	width: 65%;
	color: #ffd745;
	border-radius: 0.5rem;
	font-family: 'Great Vibes', cursive;
}


#appointment {
 	margin: 0 auto ;
	background-color: rgba(41, 17, 59, 0.8);
	width: 65%;
	color: #ffd745;
	border-radius: 0.5rem;
	font-family: 'Great Vibes', cursive;
}

#calendly {
	border-radius: 2rem;
}
/*end of contact section*/

/*pre-footer section*/
#pre-footer {
	background-color: #29113A;
}
/*end of pre-footer section*/


/*footer section*/
footer {
	margin: 0 auto;
	border-style: solid;
	border-width: 3px;
}
	
/*end of footer section*/

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  #calendly {
  	max-height: 18rem;
  }
  div.csp {
  	width: 100%;
  }
  iframe {
  	height: 300px;
  }
  
}